In [210]:
import pandas as pd
import numpy as np
import pyarrow as pa
import re
import findspark
findspark.init('/home/dave/spark-2.4.1-bin-hadoop2.7/')
import pyspark
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql import *
import sys
import os
from IPython.display import display, HTML
from pyspark.sql.functions import pandas_udf, PandasUDFType

spark = SparkSession.builder.appName("proj_exp").getOrCreate()
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

datapath = "/home/dave/Documents/CS691/proj/data/snotel/"
s1049="SNOTEL_1049_FORESTDALE_CREEK"    
s539="SNOTEL_539_INDEPENDENCE_CAMP"
s1050="SNOTEL_1050_HORSE_MEADOW"        
s540="SNOTEL_540_INDEPENDENCE_CREEK"
s1051="SNOTEL_1051_BURNSIDE_LAKE"       
s541="SNOTEL_541_INDEPENDENCE_LAKE"
s1067="SNOTEL_1067_CARSON_PASS"         
s615="SNOTEL_615_MARLETTE_LAKE"
s340="SNOTEL_340_BIG_MEADOW"           
s652="SNOTEL_652_MT_ROSE"
s356="SNOTEL_356_BLUE_LAKES"          
s428="SNOTEL_428_CSS_LAB"              
s724="SNOTEL_724_RUBICON"
s809="SNOTEL_809_TAHOE_CITY"
s463="SNOTEL_463_ECHO_PEAK"            
s834="SNOTEL_834_TRUCKEE"
s508="SNOTEL_508_HAGANS_MEADOW"        
s848="SNOTEL_848_WARD_CREEK"
s518="SNOTEL_518_HEAVENLY_VALLEY"

mt_rose = [s340,s652,s615]
hope_valley = [s1051,s1049,s1067,s356]

truckee = [s541,s540,s428]
df541 = pd.read_csv(s541+".csv")
df540 = pd.read_csv(s540+".csv")
df428 = pd.read_csv(s428+".csv")
df541 = df541.merge(df540, on = "date_only")
truckee = df541.merge(df428, on = "date_only")
truckee =truckee.loc[:, ~truckee.columns.str.contains('^Unnamed')]
truckee['mean'] = truckee.mean(axis =1)
truckee['mean'] = truckee['mean'].round()
truckee = truckee.drop(['max(total_av_corrected)_x','max(total_av_corrected)_y','max(total_av_corrected)'], axis =1)

west_shore = [s809,s724]
df809 = pd.read_csv(s809+".csv")
df724 = pd.read_csv(s724+".csv")
west = df809.rename(index=str,columns={"max(total_av_corrected)":"mean"})

south_shore = [s518,s508,s1050,s463]
df518 = pd.read_csv(s518+".csv")
df508 = pd.read_csv(s508+".csv")
df1050 = pd.read_csv(s1050+".csv")
df463 = pd.read_csv(s463+".csv")
df518 = df518.merge(df463,on = "date_only")
df518 = df518.merge(df1050,on = "date_only")
south = df518.merge(df508, on = "date_only")
south =south.loc[:, ~south.columns.str.contains('^Unnamed')]
south['mean'] = south.mean(axis =1)
south['mean'] = south['mean'].round()
south = south.drop(['max(total_av_corrected)_x','max(total_av_corrected)_y'], axis =1)

hope_valley = [s1051,s1049,s1067,s356]
df1051 = pd.read_csv(s1051+".csv")
df1049 = pd.read_csv(s1049+".csv")
df1067 = pd.read_csv(s1067+".csv")
df356 = pd.read_csv(s356+".csv")
df1049 = df1049.merge(df1051, on = "date_only")
df1067 = df1067.merge(df1049, on = "date_only")
hope = df1067.merge(df356, on = "date_only")
hope =hope.loc[:, ~hope.columns.str.contains('^Unnamed')]
hope['mean'] = hope.mean(axis =1)
hope = hope.drop(['max(total_av_corrected)_x','max(total_av_corrected)_y'], axis =1)


mt_rose = [s340,s652,s615]
df340 = pd.read_csv(s340+".csv")
#df652 = pd.read_csv(s652+".csv")
df615 = pd.read_csv(s615+".csv")
#df340 = df340.merge(df652, on = "date_only")
rose = df340.merge(df615, on = "date_only")
rose =rose.loc[:, ~rose.columns.str.contains('^Unnamed')]
rose['mean'] = rose.mean(axis =1)
rose['mean'] = rose['mean'].round()
rose = rose.drop(['max(total_av_corrected)_x','max(total_av_corrected)_y'], axis =1)

agg = rose.merge(hope, on = "date_only")
agg = agg.merge(south, on = "date_only")
agg = agg.merge(west, on = "date_only")
agg = agg.merge(truckee, on = "date_only")

agg =agg.loc[:, ~agg.columns.str.contains('^Unnamed')]
agg['forecast'] = agg[['mean_x','mean_y','mean_x','mean_y','mean']].max(axis=1)
agg = agg.drop(['mean_x','mean_y','mean_x','mean_y','mean'], axis =1)

sac = pd.read_csv("sac.csv")
sac = sac.drop(['Unnamed: 0','1','2','3'], axis =1)

#sac = sac.replace('January', '1')
#sac = sac.replace('February', '2')
#sac = sac.replace('March', '3')
#sac = sac.replace(to_replace=r'April', value='4', regex=True)
#sac = sac.replace(to_replace=r'April', value='4', regex=True)
#sac = sac.replace(to_replace=r'March', value='3', regex=True)
#sac = sac.replace(to_replace=r'April', value='4', regex=True)
#sac = sac.replace('May', '5')
df = spark.createDataFrame(sac)
df2 = spark.createDataFrame(agg)
#df = df.withColumn('timestamp',F.col('0').cast("timestamp"))

split_col = pyspark.sql.functions.split(df['0'], 'at')
df = df.withColumn('Date', split_col.getItem(0))
df = df.select('Date', 'av')
#df = df.withColumn('Time', split_col.getItem(1))
#df = df.select('date_str', from_unixtime(unix_timestamp('date_str', 'MM dd, yyyy')).alias('date'))
#df = df.withColumn('timestamp',F.col('Date').cast("timestamp"))

df = df.filter(df.Date.rlike('.*Feb.*2019'))
df2 = df2.filter(df2.date_only.rlike('.*2019-02.*')).orderBy('date_only', ascending = False)

df2 = df2.withColumn("id", F.row_number().over(Window.orderBy("date_only")))
df = df.withColumn("id",F.monotonically_increasing_id())
#df2 = df2.withColumn("id",F.monotonically_increasing_id())

df = df.join(df2,['id']).orderBy('id')
df.select('id','av',fore)
df.show()

+---+------------------+---+----------+--------+
| id|              Date| av| date_only|forecast|
+---+------------------+---+----------+--------+
| 26| February 4, 2019 |  4|2019-02-26|     4.0|
| 19|February 10, 2019 |  3|2019-02-19|     2.0|
| 22| February 8, 2019 |  2|2019-02-22|    2.25|
|  7|February 22, 2019 |  2|2019-02-07|     1.5|
| 25| February 5, 2019 |  3|2019-02-25|     3.0|
|  6|February 23, 2019 |  1|2019-02-06|     4.0|
|  9|February 20, 2019 |  2|2019-02-09|     3.0|
| 27| February 3, 2019 |  4|2019-02-27|     4.0|
| 17|February 12, 2019 |  2|2019-02-17|     5.0|
| 28| February 2, 2019 |  4|2019-02-28|     3.0|
|  5|February 24, 2019 |  2|2019-02-05|     5.0|
|  1|February 27, 2019 |  4|2019-02-01|     3.0|
| 10|February 19, 2019 |  2|2019-02-10|     5.0|
|  3|February 25, 2019 |  4|2019-02-03|    4.25|
| 12|February 17, 2019 |  3|2019-02-12|    3.25|
|  8|February 21, 2019 |  2|2019-02-08|     1.0|
| 11|February 18, 2019 |  2|2019-02-11|     4.0|
|  2|February 26, 2019 |  4|2019-02-02|    4.25|
|  4|February 25, 2019 |  2|2019-02-04|     5.0|
| 13|February 16, 2019 |  4|2019-02-13|     4.0|
+---+------------------+---+----------+--------+
only showing top 20 rows

+----------+--------+---+
| date_only|forecast| id|
+----------+--------+---+
|2019-02-01|     3.0|  1|
|2019-02-02|    4.25|  2|
|2019-02-03|    4.25|  3|
|2019-02-04|     5.0|  4|
|2019-02-05|     5.0|  5|
|2019-02-06|     4.0|  6|
|2019-02-07|     1.5|  7|
|2019-02-08|     1.0|  8|
|2019-02-09|     3.0|  9|
|2019-02-10|     5.0| 10|
|2019-02-11|     4.0| 11|
|2019-02-12|    3.25| 12|
|2019-02-13|     4.0| 13|
|2019-02-14|     5.0| 14|
|2019-02-15|     5.0| 15|
|2019-02-16|     5.0| 16|
|2019-02-17|     5.0| 17|
|2019-02-18|     3.0| 18|
|2019-02-19|     2.0| 19|
|2019-02-20|    1.25| 20|
+----------+--------+---+
only showing top 20 rows

In [146]:
agg

       date_only  forecast
0     2009-04-01      2.00
1     2009-04-02      3.00
2     2009-04-03      3.00
3     2009-04-04      4.00
4     2009-04-05      4.00
5     2009-04-06      4.00
6     2009-04-07      4.00
7     2009-04-08      4.50
8     2009-04-09      3.75
9     2009-04-10      5.00
10    2009-04-11      5.00
11    2009-04-12      4.00
12    2009-04-13      4.00
13    2009-04-14      4.00
14    2009-04-15      4.00
15    2009-04-16      5.00
16    2009-04-17      5.00
17    2009-04-18      5.00
18    2009-04-19      4.00
19    2009-04-20      5.00
20    2009-04-21      4.00
21    2009-04-22      4.00
22    2009-04-23      4.00
23    2009-04-24      4.00
24    2009-04-25      4.25
25    2009-04-26      4.25
26    2009-04-27      4.00
27    2009-04-28      4.00
28    2009-04-29      4.00
29    2009-04-30      4.00
...          ...       ...
3623  2017-08-01      5.00
3624  2017-08-10      5.00
3625  2017-08-11      5.00
3626  2018-05-06      4.00
3627  2018-05-07      5.00
3628  2018-05-08      5.00
3629  2018-05-09      5.00
3630  2018-05-14      4.00
3631  2018-05-15      4.00
3632  2018-05-16      3.00
3633  2018-05-17      4.00
3634  2018-05-18      4.00
3635  2018-05-19      4.00
3636  2018-05-24      4.00
3637  2018-05-25      4.00
3638  2018-05-26      2.00
3639  2018-05-27      3.00
3640  2018-05-28      4.00
3641  2018-05-29      4.00
3642  2018-06-05      4.00
3643  2018-06-06      4.00
3644  2018-06-07      4.00
3645  2018-06-08      4.00
3646  2018-06-09      4.00
3647  2018-06-14      4.00
3648  2018-06-15      3.00
3649  2018-06-16      4.00
3650  2018-06-17      4.00
3651  2018-06-18      4.00
3652  2018-06-19      4.00

[3653 rows x 2 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3653 entries, 0 to 3652
Data columns (total 2 columns):
date_only    3653 non-null object
mean         3653 non-null float64
dtypes: float64(1), object(1)
memory usage: 85.6+ KB

       date_only  mean
0     2009-04-01   2.0
1     2009-04-02   2.0
2     2009-04-03   2.0
3     2009-04-04   2.0
4     2009-04-05   3.0
5     2009-04-06   4.0
6     2009-04-07   4.0
7     2009-04-08   2.0
8     2009-04-09   2.0
9     2009-04-10   2.0
10    2009-04-11   2.0
11    2009-04-12   4.0
12    2009-04-13   4.0
13    2009-04-14   4.0
14    2009-04-15   3.0
15    2009-04-16   4.0
16    2009-04-17   5.0
17    2009-04-18   5.0
18    2009-04-19   4.0
19    2009-04-20   5.0
20    2009-04-21   4.0
21    2009-04-22   4.0
22    2009-04-23   4.0
23    2009-04-24   4.0
24    2009-04-25   4.0
25    2009-04-26   4.0
26    2009-04-27   4.0
27    2009-04-28   4.0
28    2009-04-29   4.0
29    2009-04-30   4.0
...          ...   ...
3623  2017-08-01   3.0
3624  2017-08-10   3.0
3625  2017-08-11   3.0
3626  2018-05-06   4.0
3627  2018-05-07   4.0
3628  2018-05-08   4.0
3629  2018-05-09   4.0
3630  2018-05-14   3.0
3631  2018-05-15   3.0
3632  2018-05-16   2.0
3633  2018-05-17   4.0
3634  2018-05-18   4.0
3635  2018-05-19   2.0
3636  2018-05-24   2.0
3637  2018-05-25   2.0
3638  2018-05-26   2.0
3639  2018-05-27   2.0
3640  2018-05-28   4.0
3641  2018-05-29   4.0
3642  2018-06-05   3.0
3643  2018-06-06   3.0
3644  2018-06-07   3.0
3645  2018-06-08   4.0
3646  2018-06-09   2.0
3647  2018-06-14   2.0
3648  2018-06-15   2.0
3649  2018-06-16   2.0
3650  2018-06-17   3.0
3651  2018-06-18   3.0
3652  2018-06-19   3.0

[3653 rows x 2 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3653 entries, 0 to 3652
Data columns (total 2 columns):
date_only    3653 non-null object
mean         3653 non-null float64
dtypes: float64(1), object(1)
memory usage: 85.6+ KB

       date_only  mean
0     2009-04-01   2.0
1     2009-04-02   3.0
2     2009-04-03   3.0
3     2009-04-04   4.0
4     2009-04-05   4.0
5     2009-04-06   4.0
6     2009-04-07   4.0
7     2009-04-08   2.0
8     2009-04-09   2.0
9     2009-04-10   2.0
10    2009-04-11   3.0
11    2009-04-12   3.0
12    2009-04-13   3.0
13    2009-04-14   3.0
14    2009-04-15   3.0
15    2009-04-16   4.0
16    2009-04-17   4.0
17    2009-04-18   4.0
18    2009-04-19   3.0
19    2009-04-20   3.0
20    2009-04-21   3.0
21    2009-04-22   3.0
22    2009-04-23   3.0
23    2009-04-24   3.0
24    2009-04-25   3.0
25    2009-04-26   3.0
26    2009-04-27   3.0
27    2009-04-28   3.0
28    2009-04-29   3.0
29    2009-04-30   3.0
...          ...   ...
3623  2017-08-01   4.0
3624  2017-08-10   4.0
3625  2017-08-11   3.0
3626  2018-05-06   3.0
3627  2018-05-07   3.0
3628  2018-05-08   3.0
3629  2018-05-09   3.0
3630  2018-05-14   3.0
3631  2018-05-15   3.0
3632  2018-05-16   3.0
3633  2018-05-17   3.0
3634  2018-05-18   3.0
3635  2018-05-19   3.0
3636  2018-05-24   2.0
3637  2018-05-25   2.0
3638  2018-05-26   1.0
3639  2018-05-27   2.0
3640  2018-05-28   3.0
3641  2018-05-29   3.0
3642  2018-06-05   3.0
3643  2018-06-06   3.0
3644  2018-06-07   3.0
3645  2018-06-08   2.0
3646  2018-06-09   2.0
3647  2018-06-14   3.0
3648  2018-06-15   3.0
3649  2018-06-16   3.0
3650  2018-06-17   2.0
3651  2018-06-18   3.0
3652  2018-06-19   3.0

[3653 rows x 2 columns]

      Unnamed: 0   date_only  mean
0              0  2009-04-01   1.0
1              1  2009-04-02   2.0
2              2  2009-04-03   2.0
3              3  2009-04-04   4.0
4              4  2009-04-05   4.0
5              5  2009-04-06   4.0
6              6  2009-04-07   3.0
7              7  2009-04-08   3.0
8              8  2009-04-09   3.0
9              9  2009-04-10   5.0
10            10  2009-04-11   5.0
11            11  2009-04-12   4.0
12            12  2009-04-13   2.0
13            13  2009-04-14   2.0
14            14  2009-04-15   4.0
15            15  2009-04-16   5.0
16            16  2009-04-17   5.0
17            17  2009-04-18   3.0
18            18  2009-04-19   3.0
19            19  2009-04-20   2.0
20            20  2009-04-21   2.0
21            21  2009-04-22   2.0
22            22  2009-04-23   3.0
23            23  2009-04-24   2.0
24            24  2009-04-25   3.0
25            25  2009-04-26   2.0
26            26  2009-04-27   3.0
27            27  2009-04-28   2.0
28            28  2009-04-29   4.0
29            29  2009-04-30   3.0
...          ...         ...   ...
3623        3623  2017-08-01   5.0
3624        3624  2017-08-10   5.0
3625        3625  2017-08-11   5.0
3626        3626  2018-05-06   4.0
3627        3627  2018-05-07   5.0
3628        3628  2018-05-08   5.0
3629        3629  2018-05-09   5.0
3630        3630  2018-05-14   4.0
3631        3631  2018-05-15   4.0
3632        3632  2018-05-16   2.0
3633        3633  2018-05-17   2.0
3634        3634  2018-05-18   4.0
3635        3635  2018-05-19   4.0
3636        3636  2018-05-24   4.0
3637        3637  2018-05-25   4.0
3638        3638  2018-05-26   2.0
3639        3639  2018-05-27   3.0
3640        3640  2018-05-28   4.0
3641        3641  2018-05-29   4.0
3642        3642  2018-06-05   4.0
3643        3643  2018-06-06   4.0
3644        3644  2018-06-07   4.0
3645        3645  2018-06-08   4.0
3646        3646  2018-06-09   4.0
3647        3647  2018-06-14   4.0
3648        3648  2018-06-15   3.0
3649        3649  2018-06-16   4.0
3650        3650  2018-06-17   4.0
3651        3651  2018-06-18   4.0
3652        3652  2018-06-19   4.0

[3653 rows x 3 columns]

/home/dave/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/dave/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

KeyError: "labels ['max(total_av_corrected)_x' 'max(total_av_corrected)_y'] not contained in axis"

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3653 entries, 0 to 3652
Data columns (total 2 columns):
date_only    3653 non-null object
mean         3653 non-null float64
dtypes: float64(1), object(1)
memory usage: 85.6+ KB

       date_only  mean
0     2009-04-01   2.0
1     2009-04-02   2.0
2     2009-04-03   2.0
3     2009-04-04   3.0
4     2009-04-05   4.0
5     2009-04-06   4.0
6     2009-04-07   4.0
7     2009-04-08   2.0
8     2009-04-09   2.0
9     2009-04-10   1.0
10    2009-04-11   3.0
11    2009-04-12   4.0
12    2009-04-13   4.0
13    2009-04-14   2.0
14    2009-04-15   2.0
15    2009-04-16   2.0
16    2009-04-17   4.0
17    2009-04-18   4.0
18    2009-04-19   3.0
19    2009-04-20   3.0
20    2009-04-21   3.0
21    2009-04-22   3.0
22    2009-04-23   2.0
23    2009-04-24   2.0
24    2009-04-25   2.0
25    2009-04-26   2.0
26    2009-04-27   2.0
27    2009-04-28   2.0
28    2009-04-29   4.0
29    2009-04-30   4.0
...          ...   ...
3623  2017-08-01   3.0
3624  2017-08-10   3.0
3625  2017-08-11   3.0
3626  2018-05-06   2.0
3627  2018-05-07   3.0
3628  2018-05-08   2.0
3629  2018-05-09   3.0
3630  2018-05-14   2.0
3631  2018-05-15   1.0
3632  2018-05-16   2.0
3633  2018-05-17   2.0
3634  2018-05-18   2.0
3635  2018-05-19   2.0
3636  2018-05-24   2.0
3637  2018-05-25   2.0
3638  2018-05-26   1.0
3639  2018-05-27   2.0
3640  2018-05-28   2.0
3641  2018-05-29   2.0
3642  2018-06-05   2.0
3643  2018-06-06   2.0
3644  2018-06-07   2.0
3645  2018-06-08   2.0
3646  2018-06-09   2.0
3647  2018-06-14   2.0
3648  2018-06-15   3.0
3649  2018-06-16   3.0
3650  2018-06-17   2.0
3651  2018-06-18   2.0
3652  2018-06-19   2.0

[3653 rows x 2 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3653 entries, 0 to 3652
Data columns (total 2 columns):
date_only    3653 non-null object
mean         3653 non-null float64
dtypes: float64(1), object(1)
memory usage: 85.6+ KB

       date_only  mean
0     2009-04-01  1.75
1     2009-04-02  2.00
2     2009-04-03  2.25
3     2009-04-04  2.75
4     2009-04-05  2.75
5     2009-04-06  3.00
6     2009-04-07  3.00
7     2009-04-08  4.50
8     2009-04-09  3.75
9     2009-04-10  3.25
10    2009-04-11  3.25
11    2009-04-12  2.00
12    2009-04-13  2.50
13    2009-04-14  2.50
14    2009-04-15  3.75
15    2009-04-16  4.25
16    2009-04-17  4.50
17    2009-04-18  3.50
18    2009-04-19  3.25
19    2009-04-20  3.25
20    2009-04-21  3.25
21    2009-04-22  3.00
22    2009-04-23  3.00
23    2009-04-24  3.25
24    2009-04-25  4.25
25    2009-04-26  4.25
26    2009-04-27  3.00
27    2009-04-28  2.00
28    2009-04-29  3.25
29    2009-04-30  3.50
...          ...   ...
3623  2017-08-01  4.00
3624  2017-08-10  3.25
3625  2017-08-11  3.50
3626  2018-05-06  2.50
3627  2018-05-07  3.25
3628  2018-05-08  3.00
3629  2018-05-09  3.25
3630  2018-05-14  2.75
3631  2018-05-15  2.25
3632  2018-05-16  2.25
3633  2018-05-17  1.50
3634  2018-05-18  2.00
3635  2018-05-19  2.25
3636  2018-05-24  1.50
3637  2018-05-25  1.50
3638  2018-05-26  1.50
3639  2018-05-27  1.25
3640  2018-05-28  2.00
3641  2018-05-29  2.00
3642  2018-06-05  2.00
3643  2018-06-06  1.75
3644  2018-06-07  2.00
3645  2018-06-08  2.25
3646  2018-06-09  1.75
3647  2018-06-14  2.25
3648  2018-06-15  2.50
3649  2018-06-16  2.25
3650  2018-06-17  2.00
3651  2018-06-18  1.50
3652  2018-06-19  1.50

[3653 rows x 2 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3653 entries, 0 to 3652
Data columns (total 2 columns):
date_only    3653 non-null object
mean         3653 non-null float64
dtypes: float64(1), object(1)
memory usage: 85.6+ KB

       date_only  mean
0     2009-04-01   2.0
1     2009-04-02   2.0
2     2009-04-03   2.0
3     2009-04-04   3.0
4     2009-04-05   4.0
5     2009-04-06   4.0
6     2009-04-07   4.0
7     2009-04-08   2.0
8     2009-04-09   2.0
9     2009-04-10   1.0
10    2009-04-11   3.0
11    2009-04-12   4.0
12    2009-04-13   4.0
13    2009-04-14   2.0
14    2009-04-15   2.0
15    2009-04-16   2.0
16    2009-04-17   4.0
17    2009-04-18   4.0
18    2009-04-19   3.0
19    2009-04-20   3.0
20    2009-04-21   3.0
21    2009-04-22   3.0
22    2009-04-23   2.0
23    2009-04-24   2.0
24    2009-04-25   2.0
25    2009-04-26   2.0
26    2009-04-27   2.0
27    2009-04-28   2.0
28    2009-04-29   4.0
29    2009-04-30   4.0
...          ...   ...
3623  2017-08-01   3.0
3624  2017-08-10   3.0
3625  2017-08-11   3.0
3626  2018-05-06   2.0
3627  2018-05-07   3.0
3628  2018-05-08   2.0
3629  2018-05-09   3.0
3630  2018-05-14   2.0
3631  2018-05-15   1.0
3632  2018-05-16   2.0
3633  2018-05-17   2.0
3634  2018-05-18   2.0
3635  2018-05-19   2.0
3636  2018-05-24   2.0
3637  2018-05-25   2.0
3638  2018-05-26   1.0
3639  2018-05-27   2.0
3640  2018-05-28   2.0
3641  2018-05-29   2.0
3642  2018-06-05   2.0
3643  2018-06-06   2.0
3644  2018-06-07   2.0
3645  2018-06-08   2.0
3646  2018-06-09   2.0
3647  2018-06-14   2.0
3648  2018-06-15   3.0
3649  2018-06-16   3.0
3650  2018-06-17   2.0
3651  2018-06-18   2.0
3652  2018-06-19   2.0

[3653 rows x 2 columns]

ValueError: Buffer has wrong number of dimensions (expected 1, got 0)

,Unnamed: 0_x,date_only,max(total_av_corrected)_x,Unnamed: 0_y,max(total_av_corrected)_y,Unnamed: 0,max(total_av_corrected),mean
0,0,2009-04-01,2.0,0,2.0,0,3.0,1.166667
1,1,2009-04-02,1.0,1,3.0,1,5.0,2.000000
2,2,2009-04-03,2.0,2,1.0,2,5.0,2.333333
3,3,2009-04-04,2.0,3,5.0,3,5.0,3.500000
4,4,2009-04-05,2.0,4,5.0,4,4.0,3.833333
5,5,2009-04-06,2.0,5,5.0,5,5.0,4.500000
6,6,2009-04-07,2.0,6,5.0,6,5.0,5.000000
7,7,2009-04-08,1.0,7,2.0,7,4.0,4.666667
8,8,2009-04-09,1.0,8,1.0,8,5.0,5.166667
9,9,2009-04-10,1.0,9,1.0,9,5.0,5.666667
10,10,2009-04-11,1.0,10,3.0,10,5.0,6.500000
11,11,2009-04-12,1.0,11,3.0,11,5.0,7.000000
12,12,2009-04-13,1.0,12,2.0,12,5.0,7.333333
13,13,2009-04-14,2.0,13,2.0,13,5.0,8.000000
14,14,2009-04-15,2.0,14,2.0,14,5.0,8.500000
15,15,2009-04-16,3.0,15,4.0,15,4.0,9.333333
16,16,2009-04-17,3.0,16,5.0,16,5.0,10.166667
17,17,2009-04-18,2.0,17,4.0,17,5.0,10.333333
18,18,2009-04-19,2.0,18,2.0,18,5.0,10.500000
19,19,2009-04-20,2.0,19,2.0,19,5.0,11.000000
20,20,2009-04-21,2.0,20,2.0,20,5.0,11.500000
21,21,2009-04-22,2.0,21,3.0,21,5.0,12.166667
22,22,2009-04-23,2.0,22,3.0,22,4.0,12.500000
23,23,2009-04-24,3.0,23,3.0,23,3.0,13.000000
24,24,2009-04-25,2.0,24,4.0,24,4.0,13.666667
25,25,2009-04-26,1.0,25,4.0,25,3.0,13.833333
26,26,2009-04-27,1.0,26,4.0,26,3.0,14.333333
27,27,2009-04-28,4.0,27,4.0,27,2.0,15.166667
28,28,2009-04-29,4.0,28,4.0,28,2.0,15.666667
29,29,2009-04-30,2.0,29,3.0,29,4.0,16.000000
...,...,...,...,...,...,...,...,...
3623,3623,2017-08-01,4.0,3623,5.0,3623,4.0,1813.666667
3624,3624,2017-08-10,5.0,3624,5.0,3624,2.0,1814.000000
3625,3625,2017-08-11,3.0,3625,3.0,3625,2.0,1813.833333
3626,3626,2018-05-06,1.0,3626,3.0,3626,5.0,1814.500000
3627,3627,2018-05-07,2.0,3627,2.0,3627,5.0,1815.000000
3628,3628,2018-05-08,2.0,3628,2.0,3628,5.0,1815.500000
3629,3629,2018-05-09,2.0,3629,2.0,3629,5.0,1816.000000
3630,3630,2018-05-14,2.0,3630,2.0,3630,5.0,1816.500000
3631,3631,2018-05-15,2.0,3631,2.0,3631,5.0,1817.000000
3632,3632,2018-05-16,2.0,3632,2.0,3632,5.0,1817.500000
3633,3633,2018-05-17,3.0,3633,2.0,3633,3.0,1817.833333
3634,3634,2018-05-18,3.0,3634,2.0,3634,3.0,1818.333333
3635,3635,2018-05-19,2.0,3635,3.0,3635,3.0,1818.833333
3636,3636,2018-05-24,3.0,3636,2.0,3636,2.0,1819.166667
3637,3637,2018-05-25,2.0,3637,3.0,3637,2.0,1819.666667
3638,3638,2018-05-26,1.0,3638,2.0,3638,1.0,1819.666667
3639,3639,2018-05-27,2.0,3639,2.0,3639,3.0,1820.666667
3640,3640,2018-05-28,2.0,3640,2.0,3640,4.0,1821.333333
3641,3641,2018-05-29,2.0,3641,2.0,3641,4.0,1821.833333
3642,3642,2018-06-05,3.0,3642,3.0,3642,4.0,1822.666667
3643,3643,2018-06-06,3.0,3643,3.0,3643,3.0,1823.000000
3644,3644,2018-06-07,3.0,3644,3.0,3644,3.0,1823.500000
3645,3645,2018-06-08,2.0,3645,2.0,3645,2.0,1823.500000
3646,3646,2018-06-09,3.0,3646,2.0,3646,2.0,1824.166667
3647,3647,2018-06-14,5.0,3647,3.0,3647,2.0,1825.166667
3648,3648,2018-06-15,4.0,3648,2.0,3648,2.0,1825.333333
3649,3649,2018-06-16,4.0,3649,2.0,3649,2.0,1825.833333
3650,3650,2018-06-17,3.0,3650,2.0,3650,2.0,1826.166667
3651,3651,2018-06-18,3.0,3651,3.0,3651,3.0,1827.000000
3652,3652,2018-06-19,3.0,3652,2.0,3652,3.0,1827.333333

      Unnamed: 0   date_only  max(total_av_corrected)
0              0  2009-04-01                      2.0
1              1  2009-04-02                      1.0
2              2  2009-04-03                      2.0
3              3  2009-04-04                      2.0
4              4  2009-04-05                      2.0
5              5  2009-04-06                      2.0
6              6  2009-04-07                      2.0
7              7  2009-04-08                      1.0
8              8  2009-04-09                      1.0
9              9  2009-04-10                      1.0
10            10  2009-04-11                      1.0
11            11  2009-04-12                      1.0
12            12  2009-04-13                      1.0
13            13  2009-04-14                      2.0
14            14  2009-04-15                      2.0
15            15  2009-04-16                      3.0
16            16  2009-04-17                      3.0
17            17  2009-04-18                      2.0
18            18  2009-04-19                      2.0
19            19  2009-04-20                      2.0
20            20  2009-04-21                      2.0
21            21  2009-04-22                      2.0
22            22  2009-04-23                      2.0
23            23  2009-04-24                      3.0
24            24  2009-04-25                      2.0
25            25  2009-04-26                      1.0
26            26  2009-04-27                      1.0
27            27  2009-04-28                      4.0
28            28  2009-04-29                      4.0
29            29  2009-04-30                      2.0
...          ...         ...                      ...
3623        3623  2017-08-01                      4.0
3624        3624  2017-08-10                      5.0
3625        3625  2017-08-11                      3.0
3626        3626  2018-05-06                      1.0
3627        3627  2018-05-07                      2.0
3628        3628  2018-05-08                      2.0
3629        3629  2018-05-09                      2.0
3630        3630  2018-05-14                      2.0
3631        3631  2018-05-15                      2.0
3632        3632  2018-05-16                      2.0
3633        3633  2018-05-17                      3.0
3634        3634  2018-05-18                      3.0
3635        3635  2018-05-19                      2.0
3636        3636  2018-05-24                      3.0
3637        3637  2018-05-25                      2.0
3638        3638  2018-05-26                      1.0
3639        3639  2018-05-27                      2.0
3640        3640  2018-05-28                      2.0
3641        3641  2018-05-29                      2.0
3642        3642  2018-06-05                      3.0
3643        3643  2018-06-06                      3.0
3644        3644  2018-06-07                      3.0
3645        3645  2018-06-08                      2.0
3646        3646  2018-06-09                      3.0
3647        3647  2018-06-14                      5.0
3648        3648  2018-06-15                      4.0
3649        3649  2018-06-16                      4.0
3650        3650  2018-06-17                      3.0
3651        3651  2018-06-18                      3.0
3652        3652  2018-06-19                      3.0

[3653 rows x 3 columns]

      Unnamed: 0   date_only  max(total_av_corrected)
0              0  2009-04-01                      2.0
1              1  2009-04-02                      3.0
2              2  2009-04-03                      1.0
3              3  2009-04-04                      5.0
4              4  2009-04-05                      5.0
5              5  2009-04-06                      5.0
6              6  2009-04-07                      5.0
7              7  2009-04-08                      2.0
8              8  2009-04-09                      1.0
9              9  2009-04-10                      1.0
10            10  2009-04-11                      3.0
11            11  2009-04-12                      3.0
12            12  2009-04-13                      2.0
13            13  2009-04-14                      2.0
14            14  2009-04-15                      2.0
15            15  2009-04-16                      4.0
16            16  2009-04-17                      5.0
17            17  2009-04-18                      4.0
18            18  2009-04-19                      2.0
19            19  2009-04-20                      2.0
20            20  2009-04-21                      2.0
21            21  2009-04-22                      3.0
22            22  2009-04-23                      3.0
23            23  2009-04-24                      3.0
24            24  2009-04-25                      4.0
25            25  2009-04-26                      4.0
26            26  2009-04-27                      4.0
27            27  2009-04-28                      4.0
28            28  2009-04-29                      4.0
29            29  2009-04-30                      3.0
...          ...         ...                      ...
3623        3623  2017-08-01                      5.0
3624        3624  2017-08-10                      5.0
3625        3625  2017-08-11                      3.0
3626        3626  2018-05-06                      3.0
3627        3627  2018-05-07                      2.0
3628        3628  2018-05-08                      2.0
3629        3629  2018-05-09                      2.0
3630        3630  2018-05-14                      2.0
3631        3631  2018-05-15                      2.0
3632        3632  2018-05-16                      2.0
3633        3633  2018-05-17                      2.0
3634        3634  2018-05-18                      2.0
3635        3635  2018-05-19                      3.0
3636        3636  2018-05-24                      2.0
3637        3637  2018-05-25                      3.0
3638        3638  2018-05-26                      2.0
3639        3639  2018-05-27                      2.0
3640        3640  2018-05-28                      2.0
3641        3641  2018-05-29                      2.0
3642        3642  2018-06-05                      3.0
3643        3643  2018-06-06                      3.0
3644        3644  2018-06-07                      3.0
3645        3645  2018-06-08                      2.0
3646        3646  2018-06-09                      2.0
3647        3647  2018-06-14                      3.0
3648        3648  2018-06-15                      2.0
3649        3649  2018-06-16                      2.0
3650        3650  2018-06-17                      2.0
3651        3651  2018-06-18                      3.0
3652        3652  2018-06-19                      2.0

[3653 rows x 3 columns]

      Unnamed: 0   date_only  max(total_av_corrected)
0              0  2009-04-01                      3.0
1              1  2009-04-02                      5.0
2              2  2009-04-03                      5.0
3              3  2009-04-04                      5.0
4              4  2009-04-05                      4.0
5              5  2009-04-06                      5.0
6              6  2009-04-07                      5.0
7              7  2009-04-08                      4.0
8              8  2009-04-09                      5.0
9              9  2009-04-10                      5.0
10            10  2009-04-11                      5.0
11            11  2009-04-12                      5.0
12            12  2009-04-13                      5.0
13            13  2009-04-14                      5.0
14            14  2009-04-15                      5.0
15            15  2009-04-16                      4.0
16            16  2009-04-17                      5.0
17            17  2009-04-18                      5.0
18            18  2009-04-19                      5.0
19            19  2009-04-20                      5.0
20            20  2009-04-21                      5.0
21            21  2009-04-22                      5.0
22            22  2009-04-23                      4.0
23            23  2009-04-24                      3.0
24            24  2009-04-25                      4.0
25            25  2009-04-26                      3.0
26            26  2009-04-27                      3.0
27            27  2009-04-28                      2.0
28            28  2009-04-29                      2.0
29            29  2009-04-30                      4.0
...          ...         ...                      ...
3623        3623  2017-08-01                      4.0
3624        3624  2017-08-10                      2.0
3625        3625  2017-08-11                      2.0
3626        3626  2018-05-06                      5.0
3627        3627  2018-05-07                      5.0
3628        3628  2018-05-08                      5.0
3629        3629  2018-05-09                      5.0
3630        3630  2018-05-14                      5.0
3631        3631  2018-05-15                      5.0
3632        3632  2018-05-16                      5.0
3633        3633  2018-05-17                      3.0
3634        3634  2018-05-18                      3.0
3635        3635  2018-05-19                      3.0
3636        3636  2018-05-24                      2.0
3637        3637  2018-05-25                      2.0
3638        3638  2018-05-26                      1.0
3639        3639  2018-05-27                      3.0
3640        3640  2018-05-28                      4.0
3641        3641  2018-05-29                      4.0
3642        3642  2018-06-05                      4.0
3643        3643  2018-06-06                      3.0
3644        3644  2018-06-07                      3.0
3645        3645  2018-06-08                      2.0
3646        3646  2018-06-09                      2.0
3647        3647  2018-06-14                      2.0
3648        3648  2018-06-15                      2.0
3649        3649  2018-06-16                      2.0
3650        3650  2018-06-17                      2.0
3651        3651  2018-06-18                      3.0
3652        3652  2018-06-19                      3.0

[3653 rows x 3 columns]

Empty DataFrame
Columns: [Unnamed: 0, date_only, max(total_av_corrected)]
Index: []